CloudMoveyNotifier/Service References/CloudMoveyWCF/CloudMoveyWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFailovergroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Failovergroup" nillable="true" type="tns:Failovergroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFailovergroup" nillable="true" type="tns:ArrayOfFailovergroup" />
  <xs:complexType name="Failovergroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="group_type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Failovergroup" nillable="true" type="tns:Failovergroup" />
  <xs:complexType name="ArrayOfWorkload">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Workload" nillable="true" type="tns:Workload" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkload" nillable="true" type="tns:ArrayOfWorkload" />
  <xs:complexType name="Workload">
    <xs:sequence>
      <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpu_count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="credential_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credential_ok" type="xs:boolean" />
      <xs:element minOccurs="0" name="enabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="failovergroup_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hash_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="memory_count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="moid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="osedition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ostype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="platform_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="storage_count" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Workload" nillable="true" type="tns:Workload" />
  <xs:complexType name="ArrayOfPlatform">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Platform" nillable="true" type="tns:Platform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlatform" nillable="true" type="tns:ArrayOfPlatform" />
  <xs:complexType name="Platform">
    <xs:sequence>
      <xs:element minOccurs="0" name="credential_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datacenter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hash_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="human_vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastupdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="moid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkdomain_count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="networkdomain_sha1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordok" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="platform_details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="platform_version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="vlan_count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vlan_sha1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="workload_count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="workload_sha1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Platform" nillable="true" type="tns:Platform" />
  <xs:complexType name="ArrayOfCredential">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Credential" nillable="true" type="tns:Credential" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCredential" nillable="true" type="tns:ArrayOfCredential" />
  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element minOccurs="0" name="credential_type" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hash_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="human_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credential" nillable="true" type="tns:Credential" />
</xs:schema>