CloudMoveyNotifier/Service References/CloudMoveyWCF/CloudMoveyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CloudMoveyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.WCF" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CaaS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICloudMoveyService_CollectionInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:CollectionInformation" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_CollectionInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollectionInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_ListPlatforms_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPlatforms" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_ListPlatforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_AddPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_AddPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_UpdatePlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_UpdatePlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_DestroyPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyPlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_DestroyPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_ListDatacenters_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDatacenters" />
  </wsdl:message>
  <wsdl:message name="ICloudMoveyService_ListDatacenters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDatacentersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICloudMoveyService">
    <wsdl:operation name="CollectionInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMoveyService/CollectionInformation" message="tns:ICloudMoveyService_CollectionInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMoveyService/CollectionInformationResponse" message="tns:ICloudMoveyService_CollectionInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPlatforms">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMoveyService/ListPlatforms" message="tns:ICloudMoveyService_ListPlatforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMoveyService/ListPlatformsResponse" message="tns:ICloudMoveyService_ListPlatforms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMoveyService/AddPlatform" message="tns:ICloudMoveyService_AddPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMoveyService/AddPlatformResponse" message="tns:ICloudMoveyService_AddPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMoveyService/UpdatePlatform" message="tns:ICloudMoveyService_UpdatePlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMoveyService/UpdatePlatformResponse" message="tns:ICloudMoveyService_UpdatePlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMoveyService/DestroyPlatform" message="tns:ICloudMoveyService_DestroyPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMoveyService/DestroyPlatformResponse" message="tns:ICloudMoveyService_DestroyPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDatacenters">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMoveyService/ListDatacenters" message="tns:ICloudMoveyService_ListDatacenters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMoveyService/ListDatacentersResponse" message="tns:ICloudMoveyService_ListDatacenters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudMoveyService" type="tns:ICloudMoveyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CollectionInformation">
      <soap:operation soapAction="http://tempuri.org/ICloudMoveyService/CollectionInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPlatforms">
      <soap:operation soapAction="http://tempuri.org/ICloudMoveyService/ListPlatforms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMoveyService/AddPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMoveyService/UpdatePlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyPlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMoveyService/DestroyPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDatacenters">
      <soap:operation soapAction="http://tempuri.org/ICloudMoveyService/ListDatacenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudMoveyService">
    <wsdl:port name="BasicHttpBinding_ICloudMoveyService" binding="tns:BasicHttpBinding_ICloudMoveyService">
      <soap:address location="http://localhost:8734/CloudMoveyWCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>