CloudMoveyNotifier/Service References/CloudMoveyWCF/CloudMoveyWCFService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CaaS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CaaS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DatacenterListType">
    <xs:sequence>
      <xs:element name="datacenterField" nillable="true" type="tns:ArrayOfDatacenterType" />
      <xs:element name="pageCountField" type="xs:int" />
      <xs:element name="pageCountFieldSpecified" type="xs:boolean" />
      <xs:element name="pageNumberField" type="xs:int" />
      <xs:element name="pageNumberFieldSpecified" type="xs:boolean" />
      <xs:element name="pageSizeField" type="xs:int" />
      <xs:element name="pageSizeFieldSpecified" type="xs:boolean" />
      <xs:element name="totalCountField" type="xs:int" />
      <xs:element name="totalCountFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatacenterListType" nillable="true" type="tns:DatacenterListType" />
  <xs:complexType name="ArrayOfDatacenterType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatacenterType" nillable="true" type="tns:DatacenterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatacenterType" nillable="true" type="tns:ArrayOfDatacenterType" />
  <xs:complexType name="DatacenterType">
    <xs:sequence>
      <xs:element name="backupField" nillable="true" type="tns:BackupType" />
      <xs:element name="cityField" nillable="true" type="xs:string" />
      <xs:element name="consoleAccessField" nillable="true" type="tns:ConsoleAccessType" />
      <xs:element name="countryField" nillable="true" type="xs:string" />
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="ftpsHostField" nillable="true" type="xs:string" />
      <xs:element name="hypervisorField" nillable="true" type="tns:HypervisorType" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="monitoringField" nillable="true" type="tns:MonitoringType" />
      <xs:element name="networkingField" nillable="true" type="tns:NetworkingType" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
      <xs:element name="vpnUrlField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatacenterType" nillable="true" type="tns:DatacenterType" />
  <xs:complexType name="BackupType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackupType" nillable="true" type="tns:BackupType" />
  <xs:complexType name="ArrayOfPropertyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyType" nillable="true" type="tns:PropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyType" nillable="true" type="tns:ArrayOfPropertyType" />
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyType" nillable="true" type="tns:PropertyType" />
  <xs:complexType name="ConsoleAccessType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsoleAccessType" nillable="true" type="tns:ConsoleAccessType" />
  <xs:complexType name="HypervisorType">
    <xs:sequence>
      <xs:element name="diskSpeedField" nillable="true" type="tns:ArrayOfDiskSpeedType" />
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HypervisorType" nillable="true" type="tns:HypervisorType" />
  <xs:complexType name="ArrayOfDiskSpeedType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiskSpeedType" nillable="true" type="tns:DiskSpeedType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiskSpeedType" nillable="true" type="tns:ArrayOfDiskSpeedType" />
  <xs:complexType name="DiskSpeedType">
    <xs:sequence>
      <xs:element name="abbreviationField" nillable="true" type="xs:string" />
      <xs:element name="availableField" type="xs:boolean" />
      <xs:element name="defaultField" type="xs:boolean" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="unavailableReasonField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiskSpeedType" nillable="true" type="tns:DiskSpeedType" />
  <xs:complexType name="MonitoringType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringType" nillable="true" type="tns:MonitoringType" />
  <xs:complexType name="NetworkingType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkingType" nillable="true" type="tns:NetworkingType" />
  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element name="errorField" nillable="true" type="tns:ArrayOfNameValuePairType" />
      <xs:element name="infoField" nillable="true" type="tns:ArrayOfNameValuePairType" />
      <xs:element name="messageField" nillable="true" type="xs:string" />
      <xs:element name="operationField" nillable="true" type="xs:string" />
      <xs:element name="requestIdField" nillable="true" type="xs:string" />
      <xs:element name="responseCodeField" nillable="true" type="xs:string" />
      <xs:element name="warningField" nillable="true" type="tns:ArrayOfNameValuePairType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseType" nillable="true" type="tns:ResponseType" />
  <xs:complexType name="ArrayOfNameValuePairType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NameValuePairType" nillable="true" type="tns:NameValuePairType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNameValuePairType" nillable="true" type="tns:ArrayOfNameValuePairType" />
  <xs:complexType name="NameValuePairType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameValuePairType" nillable="true" type="tns:NameValuePairType" />
  <xs:complexType name="ArrayOfNetworkDomainType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkDomainType" nillable="true" type="tns:NetworkDomainType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkDomainType" nillable="true" type="tns:ArrayOfNetworkDomainType" />
  <xs:complexType name="NetworkDomainType">
    <xs:sequence>
      <xs:element name="createTimeField" type="xs:dateTime" />
      <xs:element name="datacenterIdField" nillable="true" type="xs:string" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="progressField" nillable="true" type="tns:ProgressType" />
      <xs:element name="snatIpv4AddressField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkDomainType" nillable="true" type="tns:NetworkDomainType" />
  <xs:complexType name="ProgressType">
    <xs:sequence>
      <xs:element name="actionField" nillable="true" type="xs:string" />
      <xs:element name="failureReasonField" nillable="true" type="xs:string" />
      <xs:element name="numberOfStepsField" type="xs:int" />
      <xs:element name="numberOfStepsFieldSpecified" type="xs:boolean" />
      <xs:element name="requestTimeField" type="xs:dateTime" />
      <xs:element name="stepField" nillable="true" type="tns:ProgressStepType" />
      <xs:element name="updateTimeField" type="xs:dateTime" />
      <xs:element name="updateTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="userNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressType" nillable="true" type="tns:ProgressType" />
  <xs:complexType name="ProgressStepType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="numberField" type="xs:int" />
      <xs:element name="percentCompleteField" type="xs:int" />
      <xs:element name="percentCompleteFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressStepType" nillable="true" type="tns:ProgressStepType" />
  <xs:complexType name="ArrayOfVlanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VlanType" nillable="true" type="tns:VlanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVlanType" nillable="true" type="tns:ArrayOfVlanType" />
  <xs:complexType name="VlanType">
    <xs:sequence>
      <xs:element name="createTimeField" type="xs:dateTime" />
      <xs:element name="datacenterIdField" nillable="true" type="xs:string" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="ipv4GatewayAddressField" nillable="true" type="xs:string" />
      <xs:element name="ipv6GatewayAddressField" nillable="true" type="xs:string" />
      <xs:element name="ipv6RangeField" nillable="true" type="tns:IpRangeCidrType" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="networkDomainField" nillable="true" type="tns:VlanTypeNetworkDomain" />
      <xs:element name="privateIpv4RangeField" nillable="true" type="tns:IpRangeCidrType" />
      <xs:element name="progressField" nillable="true" type="tns:ProgressType" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VlanType" nillable="true" type="tns:VlanType" />
  <xs:complexType name="IpRangeCidrType">
    <xs:sequence>
      <xs:element name="addressField" nillable="true" type="xs:string" />
      <xs:element name="prefixSizeField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IpRangeCidrType" nillable="true" type="tns:IpRangeCidrType" />
  <xs:complexType name="VlanTypeNetworkDomain">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VlanTypeNetworkDomain" nillable="true" type="tns:VlanTypeNetworkDomain" />
  <xs:complexType name="ArrayOfServerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerType" nillable="true" type="tns:ServerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerType" nillable="true" type="tns:ArrayOfServerType" />
  <xs:complexType name="ServerType">
    <xs:sequence>
      <xs:element name="backupField" nillable="true" type="tns:ServerTypeBackup" />
      <xs:element name="cpuCountField" type="xs:int" />
      <xs:element name="createTimeField" type="xs:dateTime" />
      <xs:element name="datacenterIdField" nillable="true" type="xs:string" />
      <xs:element name="deployedField" type="xs:boolean" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="diskField" nillable="true" type="tns:ArrayOfServerTypeDisk" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="machineStatusField" nillable="true" type="tns:ArrayOfServerTypeMachineStatus" />
      <xs:element name="memoryGbField" type="xs:int" />
      <xs:element name="monitoringField" nillable="true" type="tns:ServerTypeMonitoring" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="networkInfoField" nillable="true" type="tns:ServerTypeNetworkInfo" />
      <xs:element name="nicField" nillable="true" type="tns:ServerNic" />
      <xs:element name="operatingSystemField" nillable="true" type="tns:OperatingSystemType" />
      <xs:element name="progressField" nillable="true" type="tns:ProgressType" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="softwareLabelField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="sourceImageIdField" nillable="true" type="xs:string" />
      <xs:element name="startedField" type="xs:boolean" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerType" nillable="true" type="tns:ServerType" />
  <xs:complexType name="ServerTypeBackup">
    <xs:sequence>
      <xs:element name="assetIdField" nillable="true" type="xs:string" />
      <xs:element name="servicePlanField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeBackup" nillable="true" type="tns:ServerTypeBackup" />
  <xs:complexType name="ArrayOfServerTypeDisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerTypeDisk" nillable="true" type="tns:ServerTypeDisk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerTypeDisk" nillable="true" type="tns:ArrayOfServerTypeDisk" />
  <xs:complexType name="ServerTypeDisk">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="scsiIdField" type="xs:int" />
      <xs:element name="sizeGbField" type="xs:int" />
      <xs:element name="speedField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeDisk" nillable="true" type="tns:ServerTypeDisk" />
  <xs:complexType name="ArrayOfServerTypeMachineStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerTypeMachineStatus" nillable="true" type="tns:ServerTypeMachineStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerTypeMachineStatus" nillable="true" type="tns:ArrayOfServerTypeMachineStatus" />
  <xs:complexType name="ServerTypeMachineStatus">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeMachineStatus" nillable="true" type="tns:ServerTypeMachineStatus" />
  <xs:complexType name="ServerTypeMonitoring">
    <xs:sequence>
      <xs:element name="monitoringIdField" nillable="true" type="xs:string" />
      <xs:element name="servicePlanField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeMonitoring" nillable="true" type="tns:ServerTypeMonitoring" />
  <xs:complexType name="ServerTypeNetworkInfo">
    <xs:sequence>
      <xs:element name="additionalNicField" nillable="true" type="tns:ArrayOfNicType" />
      <xs:element name="networkDomainIdField" nillable="true" type="xs:string" />
      <xs:element name="primaryNicField" nillable="true" type="tns:NicType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeNetworkInfo" nillable="true" type="tns:ServerTypeNetworkInfo" />
  <xs:complexType name="ArrayOfNicType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NicType" nillable="true" type="tns:NicType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNicType" nillable="true" type="tns:ArrayOfNicType" />
  <xs:complexType name="NicType">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="ipv6Field" nillable="true" type="xs:string" />
      <xs:element name="macAddressField" nillable="true" type="xs:string" />
      <xs:element name="privateIpv4Field" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
      <xs:element name="vlanIdField" nillable="true" type="xs:string" />
      <xs:element name="vlanNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NicType" nillable="true" type="tns:NicType" />
  <xs:complexType name="ServerNic">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="networkName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="privateIpv4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerNic" nillable="true" type="tns:ServerNic" />
  <xs:complexType name="OperatingSystemType">
    <xs:sequence>
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="familyField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatingSystemType" nillable="true" type="tns:OperatingSystemType" />
</xs:schema>