CloudMoveyNotifier/Service References/CloudMoveyWCF/CloudMoveyWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.WCF" />
  <xs:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" />
  <xs:import schemaLocation="http://localhost:8734/CloudMoveyWCFService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Models" />
  <xs:element name="CollectionInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectionInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.WCF" minOccurs="0" name="CollectionInformationResult" nillable="true" type="q1:workerInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlatforms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="ListPlatformsResult" nillable="true" type="q2:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_addplatform" nillable="true" type="q3:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="AddPlatformResult" nillable="true" type="q4:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_updateplatform" nillable="true" type="q5:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="UpdatePlatformResult" nillable="true" type="q6:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_destroyplatform" nillable="true" type="q7:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyPlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyPlatformResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_platform" nillable="true" type="q8:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPlatformResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="ListCredentialsResult" nillable="true" type="q9:ArrayOfCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_addCredential" nillable="true" type="q10:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="AddCredentialResult" nillable="true" type="q11:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_updateCredential" nillable="true" type="q12:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="UpdateCredentialResult" nillable="true" type="q13:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_destroyCredential" nillable="true" type="q14:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyCredentialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDatacenters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_credential" nillable="true" type="q15:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDatacentersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListDatacentersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_credential" nillable="true" type="q16:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatformDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_datacenterId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_url" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" minOccurs="0" name="_credential" nillable="true" type="q17:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatformDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Models" minOccurs="0" name="PlatformDetailsResult" nillable="true" type="q18:PlatformDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>