MRPService/MRPPortal/XSD/cloudmoveyprotal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by Phillip (Private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="credentials">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="username" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="password" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="domain" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="default_credential" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enabled" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="description" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="standalone" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="credential_type" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="default" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="credentials_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="deploymentpolicies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="policy" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_installpath" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_temppath" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_inifile" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="default" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enabled" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_max_memory" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_queue_folder" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_queue_limit_disk_size" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_queue_min_disk_free_size" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_queue_scheme" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="deploymentpolicies_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="failovergroups">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="parent_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="position" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="group" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="updated_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="phase" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="grouptype" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enabled" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="recoverypolicy_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="failoversnapshot_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="source_repository_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_platform_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_repository_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_workload_suffix" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_delete_current_job" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="failovergroups_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="failoverphases">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="name" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="jobtype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="source_workload_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_workload_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="original_workload_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="workloaddisk_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="repository_path" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_platform_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_platformnetwork_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="repository_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="activity" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="mirrorstatus" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="replicationstatus" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="transmitmode" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="recoverypolicy_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="stage" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="failovergroup_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="task_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="delete_current_dt_job" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="updated_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="source_repository_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_repository_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_template_moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="failoverphases_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="failoversnapshots">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="snapshot" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="interval" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="interval_measurement" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maxsnapshots" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="starttime" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="updated_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="failoversnapshots_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="mcpendpoints">
		<xs:annotation>
			<xs:documentation>		</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="endpoint">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="url" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="mcpendpoints_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="organizations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="organizations_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="permissions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="action" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="category" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="updated_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="permissions_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="permissions_roles">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="permission_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="role_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="platformnetworks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="network">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="description" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipv4subnet" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipv4netmask" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="networktype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="provisioned" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipv6subnet" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipv6netmask" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="networkdomain_moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="platformnetworks_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="platforms">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="credential_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="mapping" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enabled" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platformtype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maxcpu" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maxmemory" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maxdiskcount" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maxdisksize" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="maxnetwork" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="url" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="username" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="password" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="mcpendpoint_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="worker_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_version" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="platforms_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="platformstoragetiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="storagetier" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="shortname" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="platformstoragetiers_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="platformtemplates">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="systemtemplate_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="platformtemplates_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="recoverypolicies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="policy" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="policytype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="repositorypath" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="mirrortype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="calculatesize" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="deleteorphanedfiles" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="networkroute" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enablesnapshots" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="snapshotinterval" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="snapshottimestamp" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enablecompression" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="compressionlevel" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enablebandwidthrottle" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bandwidththrottlelimit" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="recoverypolicies_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="roles">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="name" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="description" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="updated_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="roles_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="schema_migrations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="schema_migrations_UniqueKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="version"/>
		</xs:unique>
	</xs:element>
	<xs:element name="settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="default_image_password" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_agent_license" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_target_license" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_repository_license" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_ha_license" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="settings_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="storagetiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="tier" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="storagetiers_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="systemtemplates">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="longdescription" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="releasenumber" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="systemtemplates_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="source_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="user_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="task" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="status" default="1" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="starttimestamp">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="0001-01-01T00:00:00.000000000"/>
							<xs:maxInclusive value="9999-12-31T23:59:59.000000000"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}.\p{Nd}{1}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="endtimestamp">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="0001-01-01T00:00:00.000000000"/>
							<xs:maxInclusive value="9999-12-31T23:59:59.000000000"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}.\p{Nd}{1}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="submitpayload" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="65535"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="returnpayload" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="65535"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="target_type" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="percentage" default="0.00" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
							<xs:minExclusive value="-1000"/>
							<xs:maxExclusive value="1000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="step" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="65535"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="source" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="name" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="worker_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="task_type" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="hidden" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="locked" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="locked_worker" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="internal_complete" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="blocking" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="tasks_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="tasksteps">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="task_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="step" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="percentage" default="0.00" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="5"/>
							<xs:fractionDigits value="2"/>
							<xs:minExclusive value="-1000"/>
							<xs:maxExclusive value="1000"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="0001-01-01T00:00:00.000000000"/>
							<xs:maxInclusive value="9999-12-31T23:59:59.000000000"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}.\p{Nd}{1}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="tasksteps_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="email">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="encrypted_password">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="reset_password_token" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="reset_password_sent_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="remember_created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sign_in_count" default="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="current_sign_in_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="last_sign_in_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="current_sign_in_ip" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="last_sign_in_ip" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="created_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="updated_at" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="firstname" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lastname" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="role_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enabled" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="time_zone" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="users_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
		<xs:unique name="users_UniqueKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="email"/>
		</xs:unique>
		<xs:unique name="users_UniqueKey_2">
			<xs:selector xpath="."/>
			<xs:field xpath="reset_password_token"/>
		</xs:unique>
	</xs:element>
	<xs:element name="workers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="hostname" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="last_contact" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="0001-01-01T00:00:00.000000000"/>
							<xs:maxInclusive value="9999-12-31T23:59:59.000000000"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}.\p{Nd}{1}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="worker_version" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="organization_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipaddress" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="workers_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="workloaddisks">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="workload_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="diskindex" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="driveletter" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="disksize" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="diskfreesize" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platformstoragetier_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="position" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="provisioned" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="workloaddisks_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="workloadinterfaces">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="workload_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="vnic" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipaddress" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipv6address" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="netmask" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipv6netmask" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platformnetwork_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ipassignment" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="workloadinterfaces_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
	<xs:element name="workloads">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="failovergroup_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="hostname" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="position" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="4294967295"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="vcpu" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="vmemory" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ostype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="platform_ostype" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="osedition" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="failedover" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enabled" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="active" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="moid" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="credential_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="workloadtype" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="-2147483648"/>
							<xs:maxInclusive value="2147483647"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="configuration" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="65535"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="provisioned" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_installed" default="0" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="-128"/>
							<xs:maxInclusive value="127"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_machine_name" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_unique_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_status" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dt_version" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lasterror" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lastcontact" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:minInclusive value="1000-01-01T00:00:00"/>
							<xs:maxInclusive value="9999-12-31T23:59:59"/>
							<xs:pattern value="\p{Nd}{4}-\p{Nd}{2}-\p{Nd}{2}T\p{Nd}{2}:\p{Nd}{2}:\p{Nd}{2}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="deploymentpolicy_id" nillable="true" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="45"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="workloads_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="id"/>
		</xs:key>
	</xs:element>
</xs:schema>
