MRPNotifier/Service References/CloudMoveyWCF/CloudMoveyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CloudMRPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MRPService.WCF" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MRPService.CaaS" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MRPService.Portal.Models" />
      <xsd:import schemaLocation="http://localhost:8734/CloudMRPWCFService?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICloudMRPService_ListWorkloads_InputMessage">
    <wsdl:part name="parameters" element="tns:ListWorkloads" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListWorkloads_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListWorkloadsResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_AddWorkload_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkload" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_AddWorkload_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkloadResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_UpdateWorkload_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkload" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_UpdateWorkload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkloadResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_DestroyWorkload_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyWorkload" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_DestroyWorkload_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyWorkloadResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListPlatforms_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPlatforms" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListPlatforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_AddPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_AddPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_UpdatePlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_UpdatePlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_DestroyPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyPlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_DestroyPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_RefreshPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshPlatform" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_RefreshPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCredentials" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_AddCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCredential" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_AddCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_UpdateCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCredential" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_UpdateCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_DestroyCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyCredential" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_DestroyCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_CollectionInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:CollectionInformation" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_CollectionInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollectionInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListDatacenters_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDatacenters" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_ListDatacenters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDatacentersResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Account" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountResponse" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_PlatformDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:PlatformDetails" />
  </wsdl:message>
  <wsdl:message name="ICloudMRPService_PlatformDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlatformDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICloudMRPService">
    <wsdl:operation name="ListWorkloads">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/ListWorkloads" message="tns:ICloudMRPService_ListWorkloads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/ListWorkloadsResponse" message="tns:ICloudMRPService_ListWorkloads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWorkload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/AddWorkload" message="tns:ICloudMRPService_AddWorkload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/AddWorkloadResponse" message="tns:ICloudMRPService_AddWorkload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/UpdateWorkload" message="tns:ICloudMRPService_UpdateWorkload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/UpdateWorkloadResponse" message="tns:ICloudMRPService_UpdateWorkload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyWorkload">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/DestroyWorkload" message="tns:ICloudMRPService_DestroyWorkload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/DestroyWorkloadResponse" message="tns:ICloudMRPService_DestroyWorkload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPlatforms">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/ListPlatforms" message="tns:ICloudMRPService_ListPlatforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/ListPlatformsResponse" message="tns:ICloudMRPService_ListPlatforms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/AddPlatform" message="tns:ICloudMRPService_AddPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/AddPlatformResponse" message="tns:ICloudMRPService_AddPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/UpdatePlatform" message="tns:ICloudMRPService_UpdatePlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/UpdatePlatformResponse" message="tns:ICloudMRPService_UpdatePlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/DestroyPlatform" message="tns:ICloudMRPService_DestroyPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/DestroyPlatformResponse" message="tns:ICloudMRPService_DestroyPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/RefreshPlatform" message="tns:ICloudMRPService_RefreshPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/RefreshPlatformResponse" message="tns:ICloudMRPService_RefreshPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/ListCredentials" message="tns:ICloudMRPService_ListCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/ListCredentialsResponse" message="tns:ICloudMRPService_ListCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/AddCredential" message="tns:ICloudMRPService_AddCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/AddCredentialResponse" message="tns:ICloudMRPService_AddCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/UpdateCredential" message="tns:ICloudMRPService_UpdateCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/UpdateCredentialResponse" message="tns:ICloudMRPService_UpdateCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/DestroyCredential" message="tns:ICloudMRPService_DestroyCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/DestroyCredentialResponse" message="tns:ICloudMRPService_DestroyCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollectionInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/CollectionInformation" message="tns:ICloudMRPService_CollectionInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/CollectionInformationResponse" message="tns:ICloudMRPService_CollectionInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDatacenters">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/ListDatacenters" message="tns:ICloudMRPService_ListDatacenters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/ListDatacentersResponse" message="tns:ICloudMRPService_ListDatacenters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Account">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/Account" message="tns:ICloudMRPService_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/AccountResponse" message="tns:ICloudMRPService_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlatformDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICloudMRPService/PlatformDetails" message="tns:ICloudMRPService_PlatformDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICloudMRPService/PlatformDetailsResponse" message="tns:ICloudMRPService_PlatformDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICloudMRPService" type="tns:ICloudMRPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListWorkloads">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/ListWorkloads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWorkload">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/AddWorkload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkload">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/UpdateWorkload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyWorkload">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/DestroyWorkload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPlatforms">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/ListPlatforms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/AddPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/UpdatePlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyPlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/DestroyPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshPlatform">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/RefreshPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCredentials">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/ListCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCredential">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/AddCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCredential">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/UpdateCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyCredential">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/DestroyCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectionInformation">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/CollectionInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDatacenters">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/ListDatacenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Account">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlatformDetails">
      <soap:operation soapAction="http://tempuri.org/ICloudMRPService/PlatformDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudMRPService">
    <wsdl:port name="BasicHttpBinding_ICloudMRPService" binding="tns:BasicHttpBinding_ICloudMRPService">
      <soap:address location="http://localhost:8734/CloudMRPWCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>