MRPNotifier/Service References/MRPWCFService/MRPWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDatacenterType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DatacenterType" nillable="true" type="tns:DatacenterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDatacenterType" nillable="true" type="tns:ArrayOfDatacenterType" />
  <xs:complexType name="DatacenterType">
    <xs:sequence>
      <xs:element name="backupField" nillable="true" type="tns:BackupType" />
      <xs:element name="cityField" nillable="true" type="xs:string" />
      <xs:element name="consoleAccessField" nillable="true" type="tns:ConsoleAccessType" />
      <xs:element name="countryField" nillable="true" type="xs:string" />
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="ftpsHostField" nillable="true" type="xs:string" />
      <xs:element name="hypervisorField" nillable="true" type="tns:HypervisorType" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="monitoringField" nillable="true" type="tns:MonitoringType" />
      <xs:element name="networkingField" nillable="true" type="tns:NetworkingType" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
      <xs:element name="vpnUrlField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatacenterType" nillable="true" type="tns:DatacenterType" />
  <xs:complexType name="BackupType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackupType" nillable="true" type="tns:BackupType" />
  <xs:complexType name="ArrayOfPropertyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyType" nillable="true" type="tns:PropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyType" nillable="true" type="tns:ArrayOfPropertyType" />
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyType" nillable="true" type="tns:PropertyType" />
  <xs:complexType name="ConsoleAccessType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsoleAccessType" nillable="true" type="tns:ConsoleAccessType" />
  <xs:complexType name="HypervisorType">
    <xs:sequence>
      <xs:element name="cpuSpeedField" nillable="true" type="tns:ArrayOfCpuSpeedType" />
      <xs:element name="diskSpeedField" nillable="true" type="tns:ArrayOfDiskSpeedType" />
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HypervisorType" nillable="true" type="tns:HypervisorType" />
  <xs:complexType name="ArrayOfCpuSpeedType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CpuSpeedType" nillable="true" type="tns:CpuSpeedType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCpuSpeedType" nillable="true" type="tns:ArrayOfCpuSpeedType" />
  <xs:complexType name="CpuSpeedType">
    <xs:sequence>
      <xs:element name="availableField" type="xs:boolean" />
      <xs:element name="defaultField" type="xs:boolean" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="unavailableReasonField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpuSpeedType" nillable="true" type="tns:CpuSpeedType" />
  <xs:complexType name="ArrayOfDiskSpeedType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiskSpeedType" nillable="true" type="tns:DiskSpeedType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiskSpeedType" nillable="true" type="tns:ArrayOfDiskSpeedType" />
  <xs:complexType name="DiskSpeedType">
    <xs:sequence>
      <xs:element name="abbreviationField" nillable="true" type="xs:string" />
      <xs:element name="availableField" type="xs:boolean" />
      <xs:element name="defaultField" type="xs:boolean" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="unavailableReasonField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiskSpeedType" nillable="true" type="tns:DiskSpeedType" />
  <xs:complexType name="MonitoringType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringType" nillable="true" type="tns:MonitoringType" />
  <xs:complexType name="NetworkingType">
    <xs:sequence>
      <xs:element name="maintenanceStatusField" nillable="true" type="xs:string" />
      <xs:element name="propertyField" nillable="true" type="tns:ArrayOfPropertyType" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkingType" nillable="true" type="tns:NetworkingType" />
  <xs:complexType name="ArrayOfNetworkDomainType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NetworkDomainType" nillable="true" type="tns:NetworkDomainType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNetworkDomainType" nillable="true" type="tns:ArrayOfNetworkDomainType" />
  <xs:complexType name="NetworkDomainType">
    <xs:sequence>
      <xs:element name="createTimeField" type="xs:dateTime" />
      <xs:element name="datacenterIdField" nillable="true" type="xs:string" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="progressField" nillable="true" type="tns:ProgressType" />
      <xs:element name="snatIpv4AddressField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkDomainType" nillable="true" type="tns:NetworkDomainType" />
  <xs:complexType name="ProgressType">
    <xs:sequence>
      <xs:element name="actionField" nillable="true" type="xs:string" />
      <xs:element name="failureReasonField" nillable="true" type="xs:string" />
      <xs:element name="numberOfStepsField" type="xs:int" />
      <xs:element name="numberOfStepsFieldSpecified" type="xs:boolean" />
      <xs:element name="requestTimeField" type="xs:dateTime" />
      <xs:element name="stepField" nillable="true" type="tns:ProgressStepType" />
      <xs:element name="updateTimeField" type="xs:dateTime" />
      <xs:element name="updateTimeFieldSpecified" type="xs:boolean" />
      <xs:element name="userNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressType" nillable="true" type="tns:ProgressType" />
  <xs:complexType name="ProgressStepType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="numberField" type="xs:int" />
      <xs:element name="percentCompleteField" type="xs:int" />
      <xs:element name="percentCompleteFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressStepType" nillable="true" type="tns:ProgressStepType" />
  <xs:complexType name="ArrayOfVlanType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VlanType" nillable="true" type="tns:VlanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVlanType" nillable="true" type="tns:ArrayOfVlanType" />
  <xs:complexType name="VlanType">
    <xs:sequence>
      <xs:element name="createTimeField" type="xs:dateTime" />
      <xs:element name="datacenterIdField" nillable="true" type="xs:string" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="ipv4GatewayAddressField" nillable="true" type="xs:string" />
      <xs:element name="ipv6GatewayAddressField" nillable="true" type="xs:string" />
      <xs:element name="ipv6RangeField" nillable="true" type="tns:IpRangeCidrType" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="networkDomainField" nillable="true" type="tns:VlanTypeNetworkDomain" />
      <xs:element name="privateIpv4RangeField" nillable="true" type="tns:IpRangeCidrType" />
      <xs:element name="progressField" nillable="true" type="tns:ProgressType" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VlanType" nillable="true" type="tns:VlanType" />
  <xs:complexType name="IpRangeCidrType">
    <xs:sequence>
      <xs:element name="addressField" nillable="true" type="xs:string" />
      <xs:element name="prefixSizeField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IpRangeCidrType" nillable="true" type="tns:IpRangeCidrType" />
  <xs:complexType name="VlanTypeNetworkDomain">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VlanTypeNetworkDomain" nillable="true" type="tns:VlanTypeNetworkDomain" />
  <xs:complexType name="ArrayOfServerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerType" nillable="true" type="tns:ServerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerType" nillable="true" type="tns:ArrayOfServerType" />
  <xs:complexType name="ServerType">
    <xs:sequence>
      <xs:element name="backupField" nillable="true" type="tns:ServerTypeBackup" />
      <xs:element name="cpuField" nillable="true" type="tns:CpuType" />
      <xs:element name="createTimeField" type="xs:dateTime" />
      <xs:element name="datacenterIdField" nillable="true" type="xs:string" />
      <xs:element name="deployedField" type="xs:boolean" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="diskField" nillable="true" type="tns:ArrayOfServerTypeDisk" />
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="itemField" nillable="true" type="xs:anyType" />
      <xs:element name="memoryGbField" type="xs:unsignedInt" />
      <xs:element name="monitoringField" nillable="true" type="tns:ServerTypeMonitoring" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="operatingSystemField" nillable="true" type="tns:OperatingSystemType" />
      <xs:element name="progressField" nillable="true" type="tns:ProgressType" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="softwareLabelField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="sourceImageIdField" nillable="true" type="xs:string" />
      <xs:element name="startedField" type="xs:boolean" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
      <xs:element name="virtualHardwareField" nillable="true" type="tns:VirtualHardwareType" />
      <xs:element name="vmwareToolsField" nillable="true" type="tns:VmwareToolsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerType" nillable="true" type="tns:ServerType" />
  <xs:complexType name="ServerTypeBackup">
    <xs:sequence>
      <xs:element name="assetIdField" nillable="true" type="xs:string" />
      <xs:element name="servicePlanField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeBackup" nillable="true" type="tns:ServerTypeBackup" />
  <xs:complexType name="CpuType">
    <xs:sequence>
      <xs:element name="coresPerSocketField" type="xs:unsignedInt" />
      <xs:element name="countField" type="xs:unsignedInt" />
      <xs:element name="speedField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpuType" nillable="true" type="tns:CpuType" />
  <xs:complexType name="ArrayOfServerTypeDisk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerTypeDisk" nillable="true" type="tns:ServerTypeDisk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerTypeDisk" nillable="true" type="tns:ArrayOfServerTypeDisk" />
  <xs:complexType name="ServerTypeDisk">
    <xs:sequence>
      <xs:element name="idField" nillable="true" type="xs:string" />
      <xs:element name="scsiIdField" type="xs:int" />
      <xs:element name="sizeGbField" type="xs:int" />
      <xs:element name="speedField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeDisk" nillable="true" type="tns:ServerTypeDisk" />
  <xs:complexType name="ServerTypeMonitoring">
    <xs:sequence>
      <xs:element name="monitoringIdField" nillable="true" type="xs:string" />
      <xs:element name="servicePlanField" nillable="true" type="xs:string" />
      <xs:element name="stateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerTypeMonitoring" nillable="true" type="tns:ServerTypeMonitoring" />
  <xs:complexType name="OperatingSystemType">
    <xs:sequence>
      <xs:element name="displayNameField" nillable="true" type="xs:string" />
      <xs:element name="familyField" nillable="true" type="xs:string" />
      <xs:element name="idField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatingSystemType" nillable="true" type="tns:OperatingSystemType" />
  <xs:complexType name="VirtualHardwareType">
    <xs:sequence>
      <xs:element name="upToDateField" type="xs:boolean" />
      <xs:element name="versionField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VirtualHardwareType" nillable="true" type="tns:VirtualHardwareType" />
  <xs:complexType name="VmwareToolsType">
    <xs:sequence>
      <xs:element name="apiVersionField" type="xs:int" />
      <xs:element name="apiVersionFieldSpecified" type="xs:boolean" />
      <xs:element name="runningStatusField" nillable="true" type="xs:string" />
      <xs:element name="versionStatusField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VmwareToolsType" nillable="true" type="tns:VmwareToolsType" />
</xs:schema>