MRPNotifier/Service References/MRPWCFService/MRPWCFService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MRPService.API.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MRPService.API.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" />
  <xs:complexType name="PlatformDetails">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" minOccurs="0" name="NetworkDomains" nillable="true" type="q1:ArrayOfNetworkDomainType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" minOccurs="0" name="Networks" nillable="true" type="q2:ArrayOfVlanType" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" minOccurs="0" name="Workloads" nillable="true" type="q3:ArrayOfServerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlatformDetails" nillable="true" type="tns:PlatformDetails" />
</xs:schema>