MRPNotifier/Service References/MRPWCFService/MRPWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Directory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Directory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomDefined1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomDefined2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberOfRoles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="OrganizationId" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="AccountWithPhoneNumber">
    <xs:sequence>
      <xs:element name="_memberOfRoles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element name="customDefined1Field" nillable="true" type="xs:string" />
      <xs:element name="customDefined2Field" nillable="true" type="xs:string" />
      <xs:element name="departmentField" nillable="true" type="xs:string" />
      <xs:element name="emailAddressField" nillable="true" type="xs:string" />
      <xs:element name="firstNameField" nillable="true" type="xs:string" />
      <xs:element name="fullNameField" nillable="true" type="xs:string" />
      <xs:element name="lastNameField" nillable="true" type="xs:string" />
      <xs:element name="orgIdField" nillable="true" type="xs:string" />
      <xs:element name="passwordField" nillable="true" type="xs:string" />
      <xs:element name="phoneCountryCodeField" nillable="true" type="xs:string" />
      <xs:element name="phoneNumberField" nillable="true" type="xs:string" />
      <xs:element name="userNameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountWithPhoneNumber" nillable="true" type="tns:AccountWithPhoneNumber" />
</xs:schema>