MRPNotifier/Service References/MRPWCFService/MRPWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MRPWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MRPService.WCF" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.General" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Network20" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Directory" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MRPService.API.Models" />
      <xsd:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMRPWCFService_ListWorkloads_InputMessage">
    <wsdl:part name="parameters" element="tns:ListWorkloads" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListWorkloads_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListWorkloadsResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_AddWorkload_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkload" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_AddWorkload_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkloadResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_UpdateWorkload_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkload" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_UpdateWorkload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkloadResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_DestroyWorkload_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyWorkload" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_DestroyWorkload_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyWorkloadResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListPlatforms_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPlatforms" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListPlatforms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_AddPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatform" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_AddPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_UpdatePlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlatform" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_UpdatePlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_DestroyPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyPlatform" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_DestroyPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_RefreshPlatform_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshPlatform" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_RefreshPlatform_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCredentials" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_AddCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCredential" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_AddCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_UpdateCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCredential" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_UpdateCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_DestroyCredential_InputMessage">
    <wsdl:part name="parameters" element="tns:DestroyCredential" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_DestroyCredential_OutputMessage">
    <wsdl:part name="parameters" element="tns:DestroyCredentialResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_CollectionInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:CollectionInformation" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_CollectionInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CollectionInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListDatacenters_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDatacenters" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_ListDatacenters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDatacentersResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_Account_InputMessage">
    <wsdl:part name="parameters" element="tns:Account" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_Account_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountResponse" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_PlatformDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:PlatformDetails" />
  </wsdl:message>
  <wsdl:message name="IMRPWCFService_PlatformDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlatformDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMRPWCFService">
    <wsdl:operation name="ListWorkloads">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/ListWorkloads" message="tns:IMRPWCFService_ListWorkloads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/ListWorkloadsResponse" message="tns:IMRPWCFService_ListWorkloads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWorkload">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/AddWorkload" message="tns:IMRPWCFService_AddWorkload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/AddWorkloadResponse" message="tns:IMRPWCFService_AddWorkload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkload">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/UpdateWorkload" message="tns:IMRPWCFService_UpdateWorkload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/UpdateWorkloadResponse" message="tns:IMRPWCFService_UpdateWorkload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyWorkload">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/DestroyWorkload" message="tns:IMRPWCFService_DestroyWorkload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/DestroyWorkloadResponse" message="tns:IMRPWCFService_DestroyWorkload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPlatforms">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/ListPlatforms" message="tns:IMRPWCFService_ListPlatforms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/ListPlatformsResponse" message="tns:IMRPWCFService_ListPlatforms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/AddPlatform" message="tns:IMRPWCFService_AddPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/AddPlatformResponse" message="tns:IMRPWCFService_AddPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/Login" message="tns:IMRPWCFService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/LoginResponse" message="tns:IMRPWCFService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/UpdatePlatform" message="tns:IMRPWCFService_UpdatePlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/UpdatePlatformResponse" message="tns:IMRPWCFService_UpdatePlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/DestroyPlatform" message="tns:IMRPWCFService_DestroyPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/DestroyPlatformResponse" message="tns:IMRPWCFService_DestroyPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshPlatform">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/RefreshPlatform" message="tns:IMRPWCFService_RefreshPlatform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/RefreshPlatformResponse" message="tns:IMRPWCFService_RefreshPlatform_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/ListCredentials" message="tns:IMRPWCFService_ListCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/ListCredentialsResponse" message="tns:IMRPWCFService_ListCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/AddCredential" message="tns:IMRPWCFService_AddCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/AddCredentialResponse" message="tns:IMRPWCFService_AddCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/UpdateCredential" message="tns:IMRPWCFService_UpdateCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/UpdateCredentialResponse" message="tns:IMRPWCFService_UpdateCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DestroyCredential">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/DestroyCredential" message="tns:IMRPWCFService_DestroyCredential_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/DestroyCredentialResponse" message="tns:IMRPWCFService_DestroyCredential_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CollectionInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/CollectionInformation" message="tns:IMRPWCFService_CollectionInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/CollectionInformationResponse" message="tns:IMRPWCFService_CollectionInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDatacenters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/ListDatacenters" message="tns:IMRPWCFService_ListDatacenters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/ListDatacentersResponse" message="tns:IMRPWCFService_ListDatacenters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Account">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/Account" message="tns:IMRPWCFService_Account_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/AccountResponse" message="tns:IMRPWCFService_Account_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlatformDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMRPWCFService/PlatformDetails" message="tns:IMRPWCFService_PlatformDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMRPWCFService/PlatformDetailsResponse" message="tns:IMRPWCFService_PlatformDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMRPWCFService" type="tns:IMRPWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListWorkloads">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/ListWorkloads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWorkload">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/AddWorkload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkload">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/UpdateWorkload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyWorkload">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/DestroyWorkload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPlatforms">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/ListPlatforms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlatform">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/AddPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlatform">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/UpdatePlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyPlatform">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/DestroyPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshPlatform">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/RefreshPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCredentials">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/ListCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCredential">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/AddCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCredential">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/UpdateCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyCredential">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/DestroyCredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectionInformation">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/CollectionInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDatacenters">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/ListDatacenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Account">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/Account" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlatformDetails">
      <soap:operation soapAction="http://tempuri.org/IMRPWCFService/PlatformDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MRPWCFService">
    <wsdl:port name="BasicHttpBinding_IMRPWCFService" binding="tns:BasicHttpBinding_IMRPWCFService">
      <soap:address location="http://localhost:8734/MRPWCFService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>