MRPNotifier/Service References/MRPWCFService/MRPWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" />
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MRPService.WCF" />
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Directory" />
  <xs:import schemaLocation="http://localhost:8734/MRPWCFService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/MRPService.API.Models" />
  <xs:element name="ListWorkloads">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWorkloadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="ListWorkloadsResult" nillable="true" type="q1:ArrayOfWorkload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_addworkload" nillable="true" type="q2:Workload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="AddWorkloadResult" nillable="true" type="q3:Workload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_updateworkload" nillable="true" type="q4:Workload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="UpdateWorkloadResult" nillable="true" type="q5:Workload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyWorkload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_destroyworkload" nillable="true" type="q6:Workload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyWorkloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyWorkloadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlatforms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPlatformsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="ListPlatformsResult" nillable="true" type="q7:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_addplatform" nillable="true" type="q8:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="AddPlatformResult" nillable="true" type="q9:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_url" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_credential" nillable="true" type="q10:Credential" />
        <xs:element minOccurs="0" name="_platform_type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_updateplatform" nillable="true" type="q11:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="UpdatePlatformResult" nillable="true" type="q12:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_destroyplatform" nillable="true" type="q13:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyPlatformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyPlatformResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPlatform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_platform" nillable="true" type="q14:Platform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPlatformResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCredentials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="ListCredentialsResult" nillable="true" type="q15:ArrayOfCredential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_addCredential" nillable="true" type="q16:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="AddCredentialResult" nillable="true" type="q17:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_updateCredential" nillable="true" type="q18:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="UpdateCredentialResult" nillable="true" type="q19:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_destroyCredential" nillable="true" type="q20:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyCredentialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectionInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectionInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MRPService.WCF" minOccurs="0" name="CollectionInformationResult" nillable="true" type="q21:workerInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDatacenters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_credential" nillable="true" type="q22:Credential" />
        <xs:element minOccurs="0" name="_platform_type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListDatacentersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="ListDatacentersResult" nillable="true" type="q23:ArrayOfPlatform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Account">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_credential" nillable="true" type="q24:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.Directory" minOccurs="0" name="AccountResult" nillable="true" type="q25:AccountWithPhoneNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatformDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_datacenterId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_url" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MRPService.LocalDatabase" minOccurs="0" name="_credential" nillable="true" type="q26:Credential" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatformDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MRPService.API.Models" minOccurs="0" name="PlatformDetailsResult" nillable="true" type="q27:PlatformDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>