CloudMoveyNotifier/Service References/CloudMoveyWCFService/CloudMoveyWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CloudMoveyWorkerService.CloudMovey.Sqlite.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfplatform">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="platform" nillable="true" type="tns:platform" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfplatform" nillable="true" type="tns:ArrayOfplatform" />
  <xs:complexType name="platform">
    <xs:sequence>
      <xs:element minOccurs="0" name="datacenter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_cores" type="xs:int" />
      <xs:element minOccurs="0" name="max_disk_size" type="xs:int" />
      <xs:element minOccurs="0" name="max_disks" type="xs:int" />
      <xs:element minOccurs="0" name="max_memory" type="xs:int" />
      <xs:element minOccurs="0" name="max_networks" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vendor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="platform" nillable="true" type="tns:platform" />
</xs:schema>