MRMPConfigurator/Service References/MRMPWCFService/MRPWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DD.CBU.Compute.Api.Contracts.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="_x003C_additionalInformation_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAdditionalInformation" />
      <xs:element name="_x003C_operation_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_resultCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_resultDetail_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_result_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ArrayOfAdditionalInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalInformation" nillable="true" type="tns:AdditionalInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdditionalInformation" nillable="true" type="tns:ArrayOfAdditionalInformation" />
  <xs:complexType name="AdditionalInformation">
    <xs:sequence>
      <xs:element name="_x003C_name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalInformation" nillable="true" type="tns:AdditionalInformation" />
</xs:schema>